*{
    margin: 0;
    padding: 0;
 }
 .nav1{
    display: block;
    /* position: fixed; */
    z-index: 4;
    width: 100%; 
 }
 .top{
     margin-left: 10px;
 }
 
.text123{
    font-size: 1em;
}
footer{
    width: 100%;
    height: 200px;
    background-color:#042752 ;
}
.card{
    border: none;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
   margin-right: 11px;
   margin-top: 4px;
   color: white;
 
}

.btnsign{
    visibility: hidden;

}
.footer1{
    display: flex;
    justify-content: center;
    
    width: 100%;
   
    /* background-color:#042752 ; */
   
}
.col-4{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.col123{
    width: 70px; 
    height: auto;
}
.page2{
    margin-top: 40px;
}

#git{
      width: 60px;
}